img[alt=fiche_facture] { width: 500px;}
img[alt=fiche_avoir] {width: 500px;}
img[alt=devis_transfert] {width: 500px;}
img[alt=facture_transfert] {width: 500px;}
img[alt=avoir_transfert] {width: 500px;}
img[alt=bdl_transfert] {width: 500px;}
img[alt=commande_transfert] {width: 500px;}
