img[alt=fiche_facture] { width: 900px;}
img[alt=fiche_avoir] {width: 900px;}
img[alt=devis_transfert] {width: 500px;}
img[alt=facture_transfert] {width: 500px;}
img[alt=avoir_transfert] {width: 500px;}
img[alt=bdl_transfert] {width: 500px;}
img[alt=commande_transfert] {width: 500px;}
img[alt=image_loupe] {width: 200px;}
img[alt=interface_caisse] {width: 900px;}
img[alt=bouton_forfait] {width: 700px;}
img[alt=interface_especes] {width: 500px;}


